.nav-box {
    display: flex;
    margin: auto;
    flex: 1;
    justify-content: center;
}

.blur-menu {
    position: relative;
}

.blur-menu-item {
    margin: 0 20px;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.blur-menu-item a {
    color: inherit;
}

.blur-menu .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 18px;
    min-width: 180px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.blur-menu:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.blur-menu .dropdown a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    transition: background 0.3s ease;
}

.blur-menu .dropdown a:hover {
    background: rgba(255, 255, 255, .8);
}

@media screen and (max-width: 800px) {
    .nav-box {
        display: none;
    }
}